# Default ignored files
/shelf/
/.idea/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../:\robotframework-protobuflibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# .idea dir
/../../../:\robotframework-protobuflibrary\.idea/
# pycache
/src/__pycache__/